* {
margin: 0;
padding: 0;
box-sizing: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: crimson;
    font-size: 55px;
}

.menu {
    display: flex;
    gap: 20px;
}

 .menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 42px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

h2 {
    color: rgb(73, 73, 187);
    font-size: 35px;
    }
    h3 {
        color: darkolivegreen;
    }
    
    .line {
        height: 2px;
        background-color: blueviolet;
    }
     tr {
        background-color: yellow;
        color: rgb(2, 2, 94);
    }

    .time {
        background-color: aquamarine;
    }

    h4 {
        color: rgb(3, 39, 19);
    }
    
    .list {
        background-color: chartreuse;
        color: rgb(177, 17, 84);
    }
    h5 {
        color: rgb(82, 131, 8);
    }
    .h5 {
        background-color: aqua;
    }


    h6 {
        color: orangered;
    }


